.form {
  /* border: 3px solid black; */
  margin: 2rem 0;
}
.formContent {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  /* border: 3px solid red; */
  background-color: #fff;
  border-radius: 10px;
  max-width: fit-content;
  width: 90vw;
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
  /* outline: 2px solid rgb(177, 176, 176);
  outline-offset: 3px; */
}
.formSelf > * {
  /* border: 3px solid blue; */
}

.formSelf {
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  flex-wrap: wrap;
  row-gap: 0.5rem;
}
.input {
  height: 42px;
  background-color: #e8e7e7;
  padding-left: 0.5rem;
  border: none;
  border-radius: 10px;
}
.input:focus {
  border: none;
  outline: 2px solid #4d4d4d;
  outline-offset: 2px;
}
.submitBtn {
  border: none;
  background-color: #03b056;
  color: white;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.submitBtn:hover {
  background-color: #029f4e;
}

@media screen and (min-width: 400px) {
  .formSelf {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

@media screen and (min-width: 576px) {
  .formSelf {
    display: flex;
    justify-content: center;
  }
  .input {
    min-width: 25rem;
  }
}
