.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 1.5rem 0.2rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.icons > span {
  cursor: pointer;
}
.cardInfo {
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.date {
  font-size: 0.95rem;
  color: rgb(104, 104, 104);
}
.todo {
  text-transform: capitalize;
  color: black;
}
.deleteIcon {
  color: rgb(251, 78, 48);
  font-size: 1.3rem;
}
.deleteIcon:hover {
  color: red;
}

.editIcon {
  color: rgb(86, 86, 252);
  font-size: 1.3rem;
}

.editIcon:hover {
  color: blue;
}

@media screen and (max-width: 350px) {
  .item {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
