.item {
  /* border: 3px solid green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  height: 5rem;
}

.icons {
  /* border: 3px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}
.icons > * {
  /* border: 3px solid red; */
}
.icons > span {
  cursor: pointer;
}
.cardInfo {
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  row-gap: 0.7rem;
}

.date {
  font-size: 0.95rem;
  color: rgb(104, 104, 104);
}
