.navbar {
  padding: 1rem 0;
}
.navbarContent {
  background-color: #fff;
  border: 3px solid white;
  transition: all 0.3s ease-in-out;
  padding: 0.825rem;
  border-radius: 10px;
  max-width: 1470px;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.activeNavbar {
  background-color: transparent;
  color: white;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.navbarContent > h1 {
  text-transform: capitalize;
}

.theme {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 0.7rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.theme > div {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.btn1,
.btn2,
.btn3,
.btn4,
.btn5 {
  border: none;
  width: 2rem;
  height: 2rem;
}
.btn1 {
  border: 1px solid black;
  background: url("../../Assets/1.jpg") center/cover no-repeat;
}
.btn2 {
  background: url("../../Assets/2.jpg") center/cover no-repeat;
}
.btn3 {
  background: url("../../Assets/3.png") center/cover no-repeat;
}
.btn4 {
  background: url("../../Assets/4.jpg") center/cover no-repeat;
}
.btn5 {
  background: url("../../Assets/5.PNG") center/cover no-repeat;
}
.theme > div > button {
  border-radius: 50%;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  background-color: #c3c3c3;
}
.activeBtn {
  transform: scale(1.2);
  outline: 1px solid black;
  outline-offset: 1px;
  transition: all 0.3s linear;
}

@media screen and (min-width: 678px) {
  .navbarContent {
    justify-content: space-between;
  }
}

@media screen and (max-width: 678px) {
  .btn5 {
    background: url("../../Assets/mobile.jpg") center/cover no-repeat;
  }
}
