.app {
  transition: all 0.3s linear;
  min-height: 100vh;
  padding-bottom: 1rem;
}

.bg1 {
  background: url("./Assets/1.jpg") center/cover no-repeat;
  height: 100%;
}
.bg2 {
  background: url("./Assets/2.jpg") center/cover no-repeat;
  height: 100%;
}
.bg3 {
  background: url("./Assets/3.png") center/cover no-repeat;
  height: 100%;
}
.bg4 {
  background: url("./Assets/4.jpg") center/cover no-repeat;
  height: 100%;
}
.bg5 {
  background: url("./Assets/5.PNG") center/cover no-repeat;
  height: 100%;
}
@media screen and (max-width: 678px) {
  .bg5 {
    background: url("./Assets/mobile.jpg") center/cover no-repeat;
  }
}
